<mat-sidenav-container style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;">
  <mat-sidenav mode="side" opened style="background-color: #3f51b5;width: 200px;padding-top: 30px"
               class="mat-elevation-z8">
    <div routerLink="/"
         style="outline: none;cursor: pointer;color: white;text-align: center;margin-bottom: 30px">
      <mat-icon style="font-size: 48px;height: 48px;width: 48px">people</mat-icon>
      <h2>FamilyApp</h2>
    </div>
    <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start center">
      <button mat-raised-button color="accent" style="width: 150px" routerLink="/family/create">Add Family</button>
      <button mat-raised-button color="accent" style="width: 150px" routerLink="/family/search">Search Family</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
